# ignorar o ambiente virtual
venv/

# ignorar arquivos de cache do Python
__pycache__/

# ignorar arquivos de configuração do editor
.vscode/

# ignorar arquivos de log
*.log

# ignorar arquivos temporários
*.tmp

# ignorar o .env
.env

# ignorar o arquivo Notas Sensíveis da pasta docs
docs/Notas_Sensiveis.txt

# ignorar arquivos de banco de dados SQLite
db.sqlite3